CursosArsi/Connected Services/WebService/SAdmDatos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.arsintegrales.com/ServiceQA/SAdmDatos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdministraDatos" />
  <xs:import schemaLocation="https://www.arsintegrales.com/ServiceQA/SAdmDatos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdministraDatos" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdministraDatos" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="user" nillable="true" type="q3:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRegisterUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="user" nillable="true" type="q4:EmpresaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRegisterEmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterUserApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="user" nillable="true" type="q5:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegisterUserAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRegisterUserAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTienda" type="xs:int" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetProductosResult" nillable="true" type="q6:ArrayOfProductoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
        <xs:element minOccurs="0" name="idTienda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetProductosCategoriaResult" nillable="true" type="q7:ArrayOfProductoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumeroProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumeroProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumeroProductosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetCarritoResult" nillable="true" type="q8:ArrayOfProductoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistraPedidoApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="carritoApp" nillable="true" type="q9:ArrayOfCarritoEntity" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistraPedidoAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRegistraPedidoAppResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encriptado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetValidaUsuarioResult" nillable="true" type="q10:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encriptado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfirmaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetConfirmaUsuarioResult" nillable="true" type="q11:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetDatosDireccionResult" nillable="true" type="q12:DireccionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCambiaPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nvoPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCambiaPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCambiaPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecuperaPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecuperaPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRecuperaPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetListaCategoriasResult" nillable="true" type="q13:ArrayOfCategoriaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaCategoriasEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaCategoriasEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="GetListaCategoriasEmpresaResult" nillable="true" type="q14:ArrayOfCategoriaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistraProductoApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LibreriasMercado.Entidades" minOccurs="0" name="producto" nillable="true" type="q15:ProductoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistraProductoAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRegistraProductoAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>